<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000000;
            padding: 5px;
        }
    </style>

</head>
<body ng-app="myApp">
    <div ng-controller="filterCtrl">
        Rows to display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit">
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>Name</th> 
                    <th>Date of Birth</th>
                    <th>Gender</th> 
                    <th>Salary (number)</th> 
                    <th>Salary (currency)</th>                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo: rowLimit">
                    <td>{{employee.name | uppercase }}</td>
                    <td>{{employee.dateOfBirth | date: dd/MM/yyyy }}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary | number: 2 }}</td>
                    <td>{{employee.salary | currency: 'PKR ': 1}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        //filters format, sort and filter data, pipe character is used to apply filter.
        //used with a binding expression or directive.
        //pattern: >> {{expression | filterName: parameter}}.
        //Inbuilt angular filters: lowercase, uppercase, number, currency, date.

        var app = angular
            .module('myApp', [])
            .controller('filterCtrl', function($scope) {

                var employees = [
                    {name: 'Dora', dateOfBirth: new Date('November 20, 1998'), gender: 'Female', salary: 55000.78234},
                    {name: 'Uzma', dateOfBirth: new Date('January 21, 2000'), gender: 'female', salary: 20000},
                    {name: 'John', dateOfBirth: new Date('April 25, 1994'), gender: 'Male', salary: 80000},
                    {name: 'Doe', dateOfBirth: new Date('May 20, 2004'), gender: 'male', salary: 60000}                 
                ];

                $scope.employees = employees;

                $scope.rowLimit = 3;

            });
    </script>
</body>
</html>