<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sort data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000000;
            padding: 5px;
        }
    </style>
</head>
<body ng-app="myApp">
    <div ng-controller="filterCtrl">

        Order by: <select ng-model="sortColumn">
            <option value="name">Name ASC</option>
            <option value="dateOfBirth">Date of Birth ASC</option>
            <option value="gender">Gender ASC</option>
            <option value="-name">Salary DESC</option>
        </select>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>Name</th> 
                    <th>Date of Birth</th>
                    <th>Gender</th> 
                    <th>Salary</th>                 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy: sortColumn">
                    <td>{{employee.name}}</td>
                    <td>{{employee.dateOfBirth | date: dd/MM/yyyy }}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        //to sort data in angular we use orderBy filter.
        //pattern => {{order-By expression | orderBy: expression : reverse}}
        var app = angular
            .module('myApp', [])
            .controller('filterCtrl', function($scope) {

                var employees = [
                    {name: 'Dora', dateOfBirth: new Date('November 20, 1998'), gender: 'Female', salary: 20000},
                    {name: 'Uzma', dateOfBirth: new Date('January 21, 2000'), gender: 'female', salary: 50000},
                    {name: 'John', dateOfBirth: new Date('April 25, 1994'), gender: 'Male', salary: 80000},
                    {name: 'Doe', dateOfBirth: new Date('May 20, 2004'), gender: 'male', salary: 60000}                 
                ];

                $scope.employees = employees;

                $scope.sortColumn = 'name';
            });
    </script>
</body>
</html>